<div class="brand-logo-slider">
  {% for block in section.blocks %}
    <div class="brand-logo-slider-item">
      <img
        src="{{ block.settings.image | image_url: width: 150 }}"
        alt="{{ block.settings.alt_text }}"
        width="150px"
        height="150px"
      >
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Brand Logo Slider",
  "settings": [],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo Image"
        }, {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Logo Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
