<div class="brand-logo-slider">
  {% for block in section.blocks %}
    <div class="brand-logo-slider-item">
      {{ block.settings.image | image_url: '150x150' | image_tag }}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Brand Logo Slider",
  "settings": [],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo Image"
        }, {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Logo Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
