/* assets/theme.css */
.brand-logo-slider {
  overflow: hidden;
  width: 100%;
}

.brand-logo-slider-inner {
  display: flex;
  width: 200%;
  animation: scroll 20s linear infinite;
}

.brand-logo-slider-track {
  display: flex;
  width: 100%;
}

.brand-logo-slider-item {
  flex: 0 0 auto;
  width: 10%; /* Adjust based on the number of logos */
}

.brand-logo-slider-item img {
  display: block;
  width: 100%;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
